*, *:before, *:after {
  box-sizing: border-box;
}


html {

}

body {
  background: url("../../../images/bg.png") no-repeat center;
  background-size: cover;
	background-attachment: fixed;
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;

}

a {
  text-decoration: none;
}

.content, .left, .right {
	position: fixed;
  width: 100%;
  height: 100%;
	top: 50px;
  margin-top: 170;

}

.left {
  left: 0;
  background-color:none;
  width: 50%;
	overflow-y: auto;
}

.right {
  right: 0;
  background-color: none;
  overflow-y: auto;
  width: 50%;

}

h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 47px;
  color: #DA6965;
  font-weight: normal;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-top: 20px;
  background-color: #9CCAC7;
  color: white;
  border-radius: 25px;
  padding-bottom: 10px;
  height: 48px;
  width: 190px;
  border: 10px solid #9BD1CE;

}

h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 23px;
  color: #DA6965;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4f5758
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

li {
    float: right;
    margin-top: 0px;
}

li a{
    display: inline-block;
    color: #767D7E;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    color: red;
}

nav {
	height: 80px;
	background: white;
}
nav li a {
	padding: 0 15px;
	line-height: 50px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 0px;
  height: 60px;
}

#piechart {
  width: 50%;
  margin: auto;
  display: block;
}

#chart {
  display: none;
}

.goalcontent {
  width: 40%;
  height: 190px;
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
}

.one {
  margin-top: 10px;
  float: left;
}

.two {
  float: right;
}

.imgdate {
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
  float: left;
}

#reflectioncontent {
  width: 70%;
  height: 190px;
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
}

#lecturecontent {
  width: 70%;
  height: auto;
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}

.first, .second, .third, .fourth  {
  width: 100%;
  height: auto;
  padding-top: 0px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0px;
}

/*STYLES FOR LANDING PAGE CHART LABELS*/
.chartwrap {
	width: 158px;
	margin: 0 auto;
}
.fulfilled, .unfulfilled {
	width: 50%;
	display: inline-block;
	text-align: center;
	padding: 5px;

}

.fulfilled {
background: #7ac2ba;
}
.unfulfilled {
background: #e2454a;
}

/*STYLES FOR GOAL INPUT PAGE*/

#titleContainer {
	text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 26px;
  margin-top: 20px;
  padding-left: 30px;
  background-color: #9CCAC7;
  color: white;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.goalflexcontainer {
  width: 100%;
  margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.goalflexcontainer h2 {
  width: 97%;
}
.goalform {
	background: none;
	width: 40%;
	border-radius: 25px;
	margin-top: 50px;
	padding: 20px;
}

.goalform p {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  text-align: center;
}

.goalform input, textarea	 {
	width: 100%;
	margin: 0 auto;
	display: block;
	border-radius: 5px;
}

.goalform input, textarea	p {
font-family: 'Rubik', sans-serif;
font-size: 22px;
}

textarea[name=goaldescription] {
	height: 200px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
}
input[name=savegoal] {
	margin: 0 auto;
	display: block;
	background: white;
	width: 100px;
}

input[name=goaltitle],[name=goaldescription], [name=fullfilled], [name=reminder] {
  background: white;
  border: none;
  height: auto;
  outline: none;
  padding: 10px;
}

input[name=goaltitle], [name=goaldescription], [name=fullfilled], [name=reminder]:focus {
  background: white;
  border: none;

}

.goalform label {
	text-align: center;
	display: block;
}

input[name=savegoal] {
  background: white;
  border: none;
  height: auto;
  outline: none;
  padding: 10px;
  border: 3px solid white;
}


input[name=savegoal]:hover {
  background: #9CCAC7;
  color: white;
  border: 3px solid white;
}
