html {

}

body {
  background: linear-gradient(to bottom, transparent -100%, white 75%, white 75%, white 100%), url("../../../images/start.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.content {

}

.left {
  left: 0;
  background-color:none;
  width: 50%;
}

.right {
  right: 0;
  background-color: none;
  overflow-y: auto;
  width: 50%;

}

h1 {
  text-align: center;
  font-family: 'DIN Alternate', sans-serif;
  font-weight: 100;
  font-size: 47px;
  /*letter-spacing: 3px;*/
  /*text-transform: uppercase;*/
  color: #DA6965;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-family: 'DIN Alternate', sans-serif;
  font-weight: 100;
  /*letter-spacing: 3px;*/
  /*text-transform: uppercase;*/
  font-size: 26px;
  margin-top: 20px;
  padding-left: 30px;
  background-color: #9CCAC7;
  color: white;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: red;
}

#goalcontent {
  width: 70%;
  height: 190px;

  padding-top: 10px;
  margin: 0 auto;
  position: relative;
}

#reflectioncontent {
  width: 70%;
  height: 190px;
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
}

/*STYLES FOR GOAL INPUT PAGE*/

.goalflexcontainer {
  width: 100%;
  margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.goalform {
	background: #9CCAC7;
	width: 40%;
	border-radius: 25px;
}
.goalform input {
	width: 60%;
	margin: 0 auto;
	display: block;
	border-radius: 5px;
}
textarea[name=goaldescription] {
	height: 200px;
	width: 60%;
	margin: 0 auto;
	display: block;
	border-radius: 5px;
}
input[name=savegoal] {
	margin: 0 auto;
	display: block;
}

nav {
  height: 60px;
  width: 100%;
  background: #ccc;
}
